
      <div class="search_bar">
        <div class="breadcrumb">Állásajánlatok</div>
        <div class="search_box_button">Részletes keresés</div>
      </div><!-- search bar end -->
      <div class="search_box">


      <%= search_form_for q do |f| %>

      <div class="form_group">

        <div class="select_tittle">Állás főkategória</div>

        <div class="search_selector">
        <div class="a1"></div>
        <%= f.select :categorizations_job_category_id_eq,
          options_from_collection_for_select(JobCategory.with_jobs, "id", "name"),
          { :include_blank => true } %>
        </div>

        <div class="select_tittle">Állás kategória</div>
        <div class="search_selector">
          <div class="a2"></div>
          <%= f.select :categorizations_job_subcategory_id_eq,
            options_from_collection_for_select(JobSubcategory.with_jobs, "id", "name"),
          { :include_blank => true }  %>
        </div>

        <div class="select_tittle">Város</div>
        <div class="search_selector">
          <div class="a3"></div>
          <%= f.select :city_eq, options_for_select(Job.cities),
          { :include_blank => true }  %>
        </div>

        <div class="select_tittle">Foglalkozás, beosztás típusa</div>
        <div class="search_selector">
          <div class="a4"></div>
          <%= f.select :management_level_id_eq,
            options_from_collection_for_select(ManagementLevel.with_jobs, "id", "name"),
          { :include_blank => true }  %>
        </div>

      </div>

      <div class="form_group">

        <div class="select_tittle">Pozíció</div>
        <div class="search_selector">
          <div class="a5"></div>
          <%= f.select :position_eq,
            options_for_select(Job.positions),
          { :include_blank => true }  %>
        </div>

        <div class="select_tittle">Nyelv</div>
        <div class="search_selector">
          <div class="a6"></div>
          <%= f.select :language_skills_language_code_eq,
            options_for_select(LanguageSkill.with_jobs),
          { :include_blank => true }  %>
        </div>

      </div>

      <div class="form_group_word">
        <div class="select_tittle">Szabadszavas keresés</div>
        <div class="search_word">
          <%= f.text_field :search_index_cont %>
        </div>
      </div>


      <div class="search_button"><%= submit_tag "Keresés" %></div>



      <% end %>


      </div><!-- search box end -->
