
<div class="page_content">

<% @jobs.each do |job| %>

      <div class="jobs_item">

      <div class="job_list_box">
        <div class="header">Pozíció:</div>
        <div class="title"><%= link_to job.name, job %></div>
        <div class="list_box_left">
          <% unless job.country_name.empty? %>
          <div class="location_header">Munkavégzés helye:</div>
          <div class="location_attr">
            <% unless job.city.empty? %>
              <%= job.city %>,
            <% end %>
            <%= job.country_name %>
          </div>
          <% end%>
          <% unless job.management_level.andand.name.andand.empty? %>
          <div class="management_level_header">Foglalkozás, beosztás típusa:</div>
          <div class="management_level_attr"><%= job.management_level.andand.name %></div>
          <% end %>
          <% unless job.allas_kategoria.andand.empty? %>
          <div class="category_header">Állás kategória:</div>
          <div class="category_attr"><%= job.allas_kategoria %></div>
          <% end %>
        </div>

        <% unless job.deadline_on.nil? %>
        <div class="deadline_header">Jelentkezési határidő:</div>
        <div class="deadline"><%= job.deadline_on %></div>
        <% end %>

        <% unless job.goal.empty? %>
        <div class="description_header">Cél:</div>
        <div class="description">
        <%= job.goal.html_safe %>
        </div>
        <% end %>
      </div><!-- Job list box end -->
      	<div class="right_button"><%= link_to "", job %></div>

      </div><!-- jobs item end -->
<% end %>

<%= paginate @jobs %>
  <div class="jobs_item">
    <div class="job_list_box">
      <a href="http://jooble.co.hu/" target="_blank">
        <img src="/images/jooble.gif" /><br />
        Jooble állásajánlatok</a>
    </div>
  </div>
</div>
