
<div class="page_content">

  <div class="job_head">Pozíció</div>
  <div class="job_tittle"><%= @job.name %></div>

  <% unless @job.company_name.andand.empty? %>
    <div class="job_row">
      <div class="job_item">Cég megnevezése</div>
      <div class="attr"><%= @job.company_name %></div>
    </div>
  <% end %>
  <% unless @job.company_description.andand.empty? %>
    <div class="job_row">
      <div class="job_item">Cég bemutatása</div>
      <div class="attr"><%= raw @job.company_description %></div>
    </div>
  <% end %>

  <% unless @job.branch.andand.name.andand.empty? %>
    <div class="job_row">
      <div class="job_item">Tevékenységi ágazat</div>
      <div class="attr"><%= @job.branch.andand.name %></div>
    </div>
  <% end %>

  <% unless @job.position.andand.empty? %>
    <div class="job_row">
      <div class="job_item">Meghirdetett pozíció</div>
      <div class="attr"><%= @job.position %></div>
    </div>
  <% end %>

  <% unless @job.management_level.andand.name.andand.empty? %>
    <div class="job_row">
      <div class="job_item">Foglalkozás, beosztás típusa</div>
      <div class="attr"><%= @job.management_level.andand.name %></div>
    </div>
  <% end %>


  <% unless @job.allas_kategoria.andand.empty? %>
    <div class="job_row">
      <div class="job_item">Állás kategória</div>
      <div class="attr">
        <%= @job.allas_kategoria %>
      </div>
    </div>
  <% end %>

  <% unless @job.country_name.andand.empty? %>
    <div class="job_row">
      <div class="job_item">Hely</div>
      <div class="attr">
        <% unless @job.city.andand.empty? %>
          <%= @job.city %>,
        <% end %>
        <%= @job.country_name %>
      </div>
    </div>
  <% end %>

    <% unless @job.goal.andand.empty? %>
    <div class="job_row">
      <div class="job_item">Cél</div>
      <div class="attr"><%= raw @job.goal %>
      </div>
    </div>
    <% end %>


    <% unless @job.responsibilities.andand.empty? %>
    <div class="job_row">
      <div class="job_item">Fő feladatok/felelősségi körök</div>
      <div class="attr">
        <%= raw @job.responsibilities %>
      </div>
    </div>
    <% end %>

    <% unless @job.skills.andand.empty? %>
    <div class="job_row">
      <div class="job_item">Képzettség/követelmények</div>
      <div class="attr">
        <%= raw @job.skills %>
      </div>
    </div>
    <% end %>



    <% unless @job.personal_requirements.andand.empty? %>
    <div class="job_row">
      <div class="job_item">Személyi elvárások</div>
      <div class="attr">
        <%= raw @job.personal_requirements %>
      </div>
    </div>
    <% end %>

    <% unless @job.we_offer.andand.empty? %>
    <div class="job_row">
      <div class="job_item">Amit mi nyújtunk önnek</div>
      <div class="attr">
        <%= raw @job.we_offer %>
      </div>
    </div>
    <% end %>


    <% unless @job.how_to_apply.andand.empty? %>
    <div class="job_row">
      <div class="job_item">Jelentkezés módja</div>
      <div class="attr"><%= raw @job.how_to_apply %></div>
    </div>
    <% end %>

    <div class="job_application">
      <% if applicant_signed_in? %>
        <% if current_applicant.jobs.include?(@job) %>
          <div class="application_text">Erre az állásra már jelentkezett.</div>
        <% else %>
          <div class="application_button"><%= link_to "Jelentkezem", apply_url(@job.id) %></div>
        <% end %>
      <% else %>
        <div class="application_text">Az állásokra való jelentkezéshez kérjük regisztráljon!
          <%= link_to "Regisztráció »", new_applicant_registration_path %></div>
      <% end %>
    </div>

</div><!-- page content end -->
