/* clear */
*{
	margin:0 auto 0 auto;
	padding:0;
/*	border:0; */
	vertical-align: baseline;
/*	background: transparent; */
}

abbr { border: 0; }

/* MODAL WINDOW */

input.login_modal{
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #B9B9B9;
    color: #000000;
    font: 13px Arial,Helvetica,sans-serif;
    padding: 6px 6px 4px;
    width: 240px;
    margin-bottom: 4px;
}

.modal_content label {
	width:120px;
	float:left;
	font: 12px Arial,Helvetica,sans-serif;
}


/* file uploaded */

.optional_uploaded_file{
	width: 594px;
	height:auto;
	float:left;
	padding: 12px;
	margin: 0 0 10px 0;
	border-bottom: #8f8f8f 1px dotted;
}

.optional_uploaded_file .txt{
	width: 90px;
	height:20px;
	float:left;
	font: 12px Arial, sans-serif;
	color:black;
}

.optional_uploaded_file .links{
	width:500px;
	padding: 0 10 0 10px;
	float:left;
	font: 12px Arial, sans-serif;
}


/* forgoted_pass */

.forgoted_pass {
	width: 400px;
	height: 400px;
	background: url(../images/inside_modal_bg.png) no-repeat top left;
	padding: 0 0 0 30px;
}

.forgoted_pass .error_in_pass {
	font: italic 12px Arial, sans-serif;
	color:red;
}


.forgoted_pass .box_head {
	background: url("../images/pinkplus.png") no-repeat scroll 10px 18px transparent;
    color: #000000;
    float: left;
    font: 16px Museo_Slab,Arial,sans-serif;
    height: 70px;
    padding: 25px 0 0 60px;
    width: 350px;
    margin: 10px 0 0 0;
}

.forgoted_pass label.control-label {
	padding: 0 10px 0 0;
	width:140px;
	float:left;
}

.forgoted_pass .this_spacer {
	width:350px;
	height:10px;
	float:left;
}

.forgoted_pass .applicant_links{
	width:350px;
	height:20px;
	float:left;
	margin: 10px 0 0 0;
	padding: 10px 0 0 0;
	border-top: #8f8f8f 1px dotted;
}

.forgoted_pass .applicant_links a{
	float:left;
	width: 150px;
}


.forgoted_pass .form_content{
	width:auto;
	height:auto;
	float:left;
}


.forgoted_pass input[type="submit"] {
	background: transparent url(../images/modal_btn.png)no-repeat top left;
	color:#fff;
	text-shadow: #000 0px 1px
	cursor:pointer;
	display:inline-block;
	padding:0 0 0 0;
	margin:10px 0 0 115px;
	font:13px;
	width:110px;
	height:36px;
	border:none;
    cursor:pointer;
    float: left;
}

.forgoted_pass .stat_txt {
	width: 340px;
	height: auto;
	padding: 10px 0 10px 0;
	border-top: #8f8f8f 1px dotted;
	float:left;
	margin: 60px 0 0 0;
}

input.login_inside  {
background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #B9B9B9;
    color: #000000;
    font: 13px Arial,Helvetica,sans-serif;
    margin-bottom: 4px;
    padding: 6px 6px 4px;
    width: 325px;
}


input.btn {
    margin-top: 10px;
    padding: 0;
}


fieldset { border:0; }

a {
	text-decoration:none;
	color: #0087c1;
}

/* font */

@font-face {
    font-family: 'Gleego';
    src: url('/fonts/glegoo-regularhu-webfont.eot');
    src: url('/fonts/glegoo-regularhu-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/glegoo-regularhu-webfont.woff') format('woff'),
         url('/fonts/glegoo-regularhu-webfont.ttf') format('truetype'),
         url('/fonts/glegoo-regularhu-webfont.svg#GlegooRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Museo_Slab';
    src: url('../fonts/museo_slab_500-webfont.eot');
    src: url('../fonts/museo_slab_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo_slab_500-webfont.woff') format('woff'),
         url('../fonts/museo_slab_500-webfont.ttf') format('truetype'),
         url('../fonts/museo_slab_500-webfont.svg#MuseoSlab500Regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h3, h4, h5 {
	font: bold 15px/21px Arial, sans-serif;
	padding: 20px 0 0 0;
}


/* site */

body {
	font: 14px/19px Arial, sans-serif;
	color:#000;
	background:#f8fafa;
	-webkit-font-smoothing: antialiased;
}

.page {
	width: 960px;
	height:auto;
}

.container {
	width: 960px;
	height: auto;
	float:left;
}

.container_index {
	width: 960px;
	height: auto;
	float:left;
	background: url(../images/line_background.png) no-repeat top left;
	background-position: 20px 20px;
}


.header {
	width: 960px;
	height: auto;
	float:left;
}


.headbar {
	width: 950px;
	height: 60px;
	float:left;
	padding: 0 10px 0 0;
}

.sign_reg {
	width: 270px;
	height: 60px;
	float:right;
	background: url(../images/btn_head_reg.png) no-repeat top left;
}

.sign_reg a.registration {
	width: 180px;
	height: 31px;
	float:left;
	padding: 12px 0 0 0;
	font: 16px Museo_Slab, Arial, sans-serif;
	text-decoration: none;
	color: #000;
	text-align: right;
}

.sign_reg a.registration:hover {
	color:#29a9e0;
}

.sign_reg a.login-window:hover, .logout_link:hover {
	color:#29a9e0;
}


.sign_reg a.login-window, .logout_link {
	width: 60px;
	height: 31px;
	float:right;
	background: url(../images/head_reg_per.png) no-repeat top left;
	padding: 12px 0 0 20px;
	font: 16px Museo_Slab, Arial, sans-serif;
	text-decoration: none;
	color: #000;
}

.language-switcher {
	color: #000000;
	float: right;
	font: 16px Museo_Slab,Arial,sans-serif;
	padding: 12px 0 0 30px;
	text-decoration: none;
}


/* USER logged */

.user_logged {
	width: auto;
	height: auto;
	float:right;
	text-align: right;
	font: 14px Arial, sans-serif;
}

.social {
	width: 410px;
	height: 40px;
	float:right;
	padding: 10px 0 0 0;
}

.social .plusone {
	float:left;
}

.social .g-plusone {
	float:left;
}

.social .___plusone_0 {
	float:left;
}

#___plusone_0 {
	float:left;
}

.social .like {
	width: 150px;
	height: 30px;
	float:left;
}

.social .icon_fb a{
	width: 25px;
	height: 25px;
	float:left;
	background: url(../images/icon_facebook.png) no-repeat top left;
	margin: 0 25px 0 0;
}

.social .icon_in a{
	width: 25px;
	height: 25px;
	float:left;
	background: url(../images/icon_linkedin.png) no-repeat top left;
}

.social .icon_tw a{
	width: 25px;
	height: 25px;
	float:left;
	background: url(../images/icon_twitter.png) no-repeat top left;
	margin: 0 0 0 20px;
}
.social .icon_fb a:hover, .social .icon_in a:hover, .social .icon_tw a:hover {
	background-position: 0 -25px;
}

.logo {
	width: 370px;
	height: auto;
	float:left;
}

.logo h1 {
	text-indent:-999px;
}

.navigation{
	width: 590px;
	height: auto;
	float:left;
	padding: 12px 0 0 0;
}

.navigation ul {
	float:right;
}

.navigation ul li {
	width: auto;
	height: auto;
	float:left;
	padding: 10px;
	font: 15px Gleego, Arial, sans-serif;
	text-transform: uppercase;
	list-style:none;
	cursor:pointer;
}

.navigation ul li a {
	text-decoration:none;
	color: black;
}


.navigation ul li a:hover {
	color:#29a9e0;
}

.navigation ul li a.active {
	color:#29a9e0;
}


.content {
	width: 960px;
	height: auto;
	float:left;
}



.ind_box1 {
	width: 480px;
	height: 450px;
	float:left;
	background: url(../images/figure_1.png) no-repeat top left;
	background-position: 0 126px;
	padding: 600px 0 0 0;
}

.ind_box2 {
	width: 480px;
	height: 1050px;
	float:left;
	background: url(../images/figure_2.png) no-repeat bottom right;
}


.ind_box2 .text_box, .ind_box1 .text_box, .ind_box3 .text_box, .ind_box4 .text_box{
	width: 440px;
	height: auto;
	float:left;
	padding: 20px;
}


.ind_box2 .text_box .text_title, .ind_box1 .text_box .text_title, .ind_box3 .text_box .text_title, .ind_box4 .text_box .text_title{
	width: auto;
	height: auto;
	float:left;
	font: 32px Gleego, Arial, sans-serif;
	padding: 0 0 20px 0;
}

.ind_box2 .text_box .lead, .ind_box1 .text_box .lead, .ind_box3 .text_box .lead, .ind_box4 .text_box .lead {
	width: 480px;
	height: auto;
	float:left;
	font: 17px/22px Arial, sans-serif;
}

.big_reg_btn a {
	width: 220px;
	height: 60px;
	float:left;
	background: url(../images/index_btn_big_reg.png) no-repeat top left;
	padding: 35px 0 0 100px;
	font: 18px Museo_Slab, Arial, sans-serif;
	display:block;
	cursor:pointer;
	text-decoration: none;
	color: #000;
}

.big_reg_btn a:hover {
	background-position: 0 -96px;
}

.jobs_head {
	width: 300px;
	height: 30px;
	float:left;
	font: 18px Museo_Slab, Arial, sans-serif;
	background: url(../images/jobs_head_arrow.png) no-repeat top left;
	padding: 0 0 0 30px;
	margin: 0 0 0 70px;
}



/* Jobline */

.jobline {
	width: 100%;
	height: 460px;
	float:left;
	background: #dfe1e1;
	padding: 20px 0 20px 0;
}


.jobline .center_content {
	width: 960px;
	height: auto;
}

.job_box {
	width: 315px;
	height: auto;
	float:left;
	margin: 0 5px 0 0;
}


.job_box .header {
	width: 235px;
	height: 40px;
	float:left;
	background: white;
	font: 13px Museo_Slab, Arial, sans-serif;
	color: #0679b5;
	padding: 30px 0 0 20px;
}

.job_box .postheader a{
	width: 40px;
	height: 40px;
	float:left;
	padding: 30px 0 0 20px;
	background: white url(../images/index_allasbox_head_bg.png) no-repeat top right;
	display:block;
	cursor:pointer;
}


.job_box .job_container {
	width: 290px;
	height: 390px;
	float:left;
	background: white;
}

.job_box .job_title {
	width: 250px;
	height: 80px;
	float:left;
	background: url(../images/index_allasbox_oszto.png) no-repeat bottom left;
	font: 20px Arial, sans-serif;
	padding: 0 20px 0 20px;
	margin: 0 0 20px 0;
}

.job_box .job_title a{
	color:black;
	text-decoration: none;
}

.job_box .job_title a:hover{
	color:black;
	text-decoration: underline;
}

.job_location, .job_segment, .job_description {
	width: 250px;
	height: 25px;
	float:left;
	font: 13px Museo_Slab, Arial, sans-serif;
	color: #0087c1;
	padding: 0 20px 0 20px;
}

.job_location_attribute, .job_segment_attribute, .job_description_attribute {
	width: 250px;
	min-height: 25px;
	max-height: 95px;
	overflow:hidden;
	float:left;
	font: 15px Arial, sans-serif;
	color: #000;
	padding: 0 20px 14px 20px;
}

.more_job {
	width: 960px;
	height: 50PX;
	float:left;
	padding: 0 15px 0 0;
}

.more_job a{
	padding: 10px 0 0 0;
	width: 280px;
	height: 27px;
	float:right;
	background:url(../images/icon_more_job.png) no-repeat top left;
	background-position: 215px 5px;
	font: 16px Museo_Slab, Arial, sans-serif;
	text-decoration: none;
	color:#000;

}

.more_job a:hover{
	background-position: 215px -32px;
	color:#2db6e7;
}



/* Container under */


.container_under {
	width: 100%;
	height: auto;
	float:left;
}

.container_under .center_content {
	width: 960px;
	height: 1050px;
	background: url(../images/line_background_under.png) no-repeat top left;
	background-position: 25px 0;
}

.container_under .center_content .ind_box3 {
	width: 480px;
	height: 850px;
	float:left;
	background: url(../images/figure_4.png) no-repeat top left;
	padding: 80px 0 0 0;
	background-position: 0 562px;
}

.container_under .center_content .ind_box4 {
	width: 480px;
	height: 450px;
	float:left;
	background: url(../images/figure_3.png) no-repeat top right;
	background-position: 61px 201px;
	padding: 540px 0 0 0;
}

.ind_box4 .big_reg_btn a{
	margin: 100px 0 0 0;
}



/* Footer */

.footer {
	width: 100%;
	height: 420px;
	float:left;
	background: url(../images/dotted_line.png) repeat-x top left;
	padding: 50px 0 0 0;
}

.footer .center_content {
	width: 960px;
	height: 200px;
}


/* Newsletter */

.newsletter_up {
	width: 960px;
	height: 80px;
	float:left;
	border-bottom: #b8b8b8 1px solid;
}

.newsletter_up .box_title{
	width: 270px;
	height: 50px;
	float:left;
	padding: 5px 0 0 0;
	font: 17px Gleego, Arial, sans-serif;
}

.newsletter_up input.base_form {
	width: 260px;
	height: 30px;
	float:right;
	border: #b2b2b2 1px solid;
	background: white;
	padding: 0 0 0 10px;
	font: 14px Arial, sans-serif;
	margin: 0 20px 0 0;
}

.newsletter_up input.base_form_send {
	width: 80px;
	height: 32px;
	float:right;
	background: url(../images/send_btn_bg.png) no-repeat top left;
	color:white;
	text-shadow: #000 0 1px;
	font: 14px Arial, sans-serif;
	cursor:pointer;
}


.footer_contact_text {
	width: 960px;
	height: auto;
	float:left;
	padding: 40px 0 0 0;
	font: 25px Gleego, Arial, sans-serif;
	padding: 40px 0 40px 0;
}

.contact_box {
	width: 400px;
	height: auto;
	float:left;
	padding: 0 0 40px 0;
}

.contact_box2 {
	width: 350px;
	height: auto;
	float:right;
	padding: 0 0 40px 0;
}


.contact_head {
	width: 350px;
	height: 50px;
	float:left;
	font: 16px Gleego, Arial, sans-serif;
}

.contact_box .description, .contact_box2 .description {
	width: 350px;
	height: auto;
	float:left;
	font: 16px Arial, sans-serif;
}

.contact_box .description ul li{
	width: 350px;
	height: auto;
	float:left;
	font: 16px Arial, sans-serif;
	list-style: none;
	padding: 3px 0 3px 0;
}


.gmap a {
	width: 200px;
	height: 20px;
	float:left;
	background: url(../images/footer_pin.png) no-repeat top left;
	font: italic 15px Arial, sans-serif;
	text-decoration: none;
	color:#000;
	padding: 3px 0 0 30px;
	margin: 35px 0 0 0;
}

.gmap a:hover {
	background-position: 0 -24px;
}



.impressum {
	float:right;
}

.impressum a{
	text-decoration: none;
	color:#000;
}


/* Copyright */

.copyright {
	width: 100%;
	height: auto;
	float:left;
	background: url(../images/dotted_line.png) repeat-x top left;
	padding: 30px 0 0 0;
}

.copyright .center_content {
	width: 960px;
	height: 80px;
}

.copyright .center_content img {
	float:left;
	width:27px;
	height:22px;
}

.copyright .center_content .desc {
	float:left;
	width: 470px;
	height: 50px;
	padding: 0 0 0 20px;
}

.copyright .center_content .desc a{
	color:#0087c1;
	text-decoration: none;
}

.copyright .center_content .desc a:hover {
	text-decoration: underline;
}


/* Subpages */


.search_bar {
	width: 960px;
	height: 54px;
	float:left;
	border: #d2d3d3 1px solid;
	background:#fff;
}


.breadcrumb{
	width: 200px;
	height: 54px;
	float:left;
	background: url(../images/bread_bg.png) no-repeat top left;
	background-position: 20px 1px;
	padding: 15px 0 0 50px;
	color:#000;
	font: 16px Museo_Slab, Arial, sans-serif;
}

.search_box_button {
	width: 150px;
	height: 36px;
	display: block;
	cursor:pointer;
	float:right;
	border-left: #d2d3d3 1px solid;
	background: url(../images/search_bar_btn.png) no-repeat top left;
	background-position: 140px center;
	text-decoration: none;
	color: #000;
	font: 14px Arial, sans-serif;
	padding: 18px 0 0 20px;
}

.boxhover {
	width: 150px;
	height: 36px;
	display: block;
	cursor:pointer;
	float:right;
	border-left: #d2d3d3 1px solid;
	background: #2c2c2c url(../images/search_bar_btn_close.png) no-repeat top left;
	background-position: 140px center;
	text-decoration: none;
	color: #fff;
	font: 14px Arial, sans-serif;
	padding: 18px 0 0 20px;
}

/* search open close */

.search_box{
	width: 960px;
	height: auto;
	float:left;
	background: #2c2c2c;
	margin: 0 0 10px 0;
	padding: 20px 0 20px 0;
}

.search_box select {
	border: 0 none;
    color: #FFFFFF;
	font: Arial, sans-serif;
    padding: 2px 0 2px 0;
    width: 240px;
    height:26px;
    -webkit-appearance: none;
    background: none;
    filter:alpha(opacity:0);
    opacity:0;
}

.form_group {
	width: 255px;
	min-height: 240px;
	float:left;
	border-right: #3a3a3a 1px solid;
	padding: 0 20px 0 35px;
}

.select_tittle {
	width: 240px;
	height: auto;
	float:left;
	color:#979797;
	font: 12px Arial, sans-serif;
	padding: 7px 0 5px 0;
}

.search_selector {
	border: #6a6e78 1px solid;
    overflow: hidden;
    width: 240px;
    background: #3d3d3d url("../images/arrow.png") no-repeat top right;
    float: left;
}

.search_box option {
	padding: 3px 0px 3px 10px;
	border-bottom: #c2c2c2 1px solid;
	background: white;
	color:black;
	font: 14px Arial, sans-serif;
}

.a1, .a2, .a3, .a4, .a5, .a6 {
	position:absolute;
	z-index: 1000;
	color:white;
	padding: 4px 0 0 10px;
	font: 14px Arial, sans-serif;
}

.search_selector:hover {
	border: #53c9fc 1px solid;
}


.search_word {
	width: 240px;
	height: 21px;
	float:left;
	border: #7b7b7b 1px solid;
	background: #3d3d3d;
	padding: 5px 0 0 5px;
}

.search_word input {
	color:white;
	font: 14px Arial, sans-serif;
	border:none;
}

.form_group_word {
	width: 255px;
	height: 180px;
	float:left;
	padding: 0 20px 0 35px;
}

.search_button {
	width: 110px;
	height: 28px;
	float:right;
	background: url("../images/modal_btn.png") no-repeat top left;
	color:white;
	text-shadow: #000 1px 1px;
	text-align: center;
	padding: 8px 0 0 0;
	margin: 0 55px 0 0;
	border:none;
	font: 14px Arial, sans-serif;
}

.search_button input {
	border:none;
	color: white;
}

.search_button:hover {
	background-position: 0px -36px;
}




/* page contents */


/* job */

.page_content{
	width: 960px;
	height: auto;
	float:left;
	border: #d2d3d3 1px solid;
	background:#fff;
	margin: 10px 0 20px 0;
	padding: 0 0 40px 0;
}


.job_head {
	width: 960px;
	height: 20px;
	float:left;
	font: 14px Arial, sans-serif;
	color: #0f90c8;
	padding: 20px 0 5px 50px;
}

.job_tittle {
	width: 910px;
	height: 40px;
	float:left;
	background: url(../images/dotted_line.png) repeat-x bottom left;
	font: 24px Museo_Slab, Arial, sans-serif;
	padding: 0 0 0 50px;
}

.job_row {
	width: 860px;
	height: auto;
	float:left;
	margin: 0 0 0 50px;
	border-bottom: #b9b9b9 1px solid;
	padding: 0;
}

.job_item {
	width: 230px;
	height: 0px;
	float:left;
	padding: 20px 0 20px 0;
	font: bold 15px Arial, sans-serif;
	color: #0F90C8;
}

.job_row .attr {
	width: 620px;
	height: auto;
	float:left;
	padding: 20px 0 20px 10px;
	font: 15px Arial, sans-serif;
}

.application_button {
	width: 170px;
	height: 34px;
	float:left;
	background: url(../images/application_btn.png) no-repeat top left;
	cursor:pointer;
	color: #fff;
	text-shadow: #000 1px 1px;
	text-align: center;
	padding: 12px 0 0 0;
}

.application_button a {
	color:#fff;
}

.application_button:hover {
	background-position: 0px -46px;
}

.job_application {
	width: 620px;
	height: auto;
	float:left;
	padding: 40px 0 0 350px;
}

.application_text {
	width: 250px;
	height: 38px;
	float:left;
	font: 14px Arial, sans-serif;
	color:#000;
	padding: 8px 0 0 20px;
}

.application_text a {
	color: #0f90c8;
	text-decoration: none;
}


.application_text a:hover {
	text-decoration: underline;
}




/* Registration 1 2 3 */

.page_reg_content{
	width: 960px;
	height: auto;
	float:left;
	margin: 10px 0 10px 0;
	padding: 0 0 40px 0;
}


.message {
	width: 960px;
	height: auto;
	float:left;
	padding: 0 0 30px 0;
}

.message_tittle {
	width: 860px;
	height: auto;
	float:left;
	font: 32px Gleego, Arial, sans-serif;
	padding: 0 0 0 50px;
	text-align: center;
}

.message .description {
	width: 860px;
	height: auto;
	float:left;
	font: 14px Arial, sans-serif;
	color:#000;
	padding: 20px 0 0 50px;
	text-align: center;
}

.tab_bar {
	width: 840px;
	height: 90px;
	float:left;
	text-align: center;
	padding: 0 0 30px 120px;
	background: url(../images/dotted_line.png) repeat-x bottom left;
	margin: 0 0 20px 0;
}

.step {
	width: 240px;
	height: 80px;
	float:left;
	background: white;
	border: #d2d3d3 1px solid;
	padding: 10px 0 0 0;
	display:block;
}

.step_current {
	width: 240px;
	height: 80px;
	float:left;
	background: #2dabe1;
	border: #0d92cb 1px solid;
	padding: 10px 0 0 0;
	display:block;
}

.tab_bar .title {
	font: 16px Museo_Slab, Arial, sans-serif;
	color:black;
	padding: 0 0 5px 0;
}


.tab_bar .description {
	font: 14px Arial, sans-serif;
	color: black;
}

.tab_bar .step_current .title {
	font: 16px Museo_Slab, Arial, sans-serif;
	color:white;
}


.tab_bar .step_current .description {
	font: 14px Arial, sans-serif;
	color: white;
}




/* Data box small */

.data_box_small {
	width: 300px;
	min-height: 330px;
	float:left;
	background: white;
	border: #d2d3d3 1px solid;
	padding: 10px 0 0 0;
	margin: 8px;

}

.data_box_small .header {
	width: 260px;
	height: 30px;
	float:left;
	font: 16px Gleego, Arial, sans-serif;
	background: url(../images/pinkplus.png) no-repeat center left;
	padding: 7px 0 0 40px;
}

.data_box_small input {
	width: 180px;
	height: 26px;
	border: #b9b9b9 1px solid;
	background: url("../images/input_bg.png") repeat-x top left;
	margin: 5px 0 5px 0;

}



.data_box_small  input:focus, .data_box_small textarea:focus, input.small:focus {
	border: #53c9fc 1px solid;
	background: url("../images/input_bg_focus.png") repeat-x top left;
	box-shadow: 0px 0px 3px #2dabe1;
	-moz-box-shadow: 0px 0px 3px #2dabe1;
	-webkit-box-shadow: 0px 0px 3px #2dabe1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=0, Color='#2dabe1')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color='#2dabe1');
}

.data_box_small label {
	min-width: 90px;
	height: 23px;
	float:left;
	padding: 3px 0 0 12px;
	margin: 5px 0 5px 0;
}

.data_box_small p {
	font: italic 12px Arial, sans-serif;
	color: #8d8d8d;
	padding: 3px 0 3px 100px;
}

.data_box_small .description {
	width: auto;
	height: 113px;
	float:left;
	font: 13px/19px Arial, sans-serif;
	color: black;
	padding: 12px;
}

.data_box_small .description_szg {
	width: auto;
	height: 82px;
	float:left;
	font: 13px/19px Arial, sans-serif;
	color: black;
	padding: 12px;
}

.data_box_small .description_lang {
	width: auto;
	height: 100px;
	float:left;
	font: 13px/19px Arial, sans-serif;
	color: black;
	padding: 12px;
}

/* selector normal */
/*
.data_box_small select {
	border: 0 none;
    color: #000;
	font: , Arial, sans-serif;
    padding: 2px 0 2px 0;
    width: 180px;
    height:26px;
    -webkit-appearance: none;
    background: none;
    filter:alpha(opacity:0);
    opacity:0;
}

.data_box_small .selector:hover {
	border: #53c9fc 1px solid;
}

.data_box_small .selector {
	border: #b9b9b9 1px solid;
    overflow: hidden;
    width: 180px;
    background: url("../images/arrow.png") no-repeat top right;
    float: left;
}
*/
/* selector small */
/*
.data_box_small select.small {
	border: 0 none;
    color: #000;
	font: , Arial, sans-serif;
    padding: 2px 0 2px 0;
    width: 80px;
    height:26px;
    -webkit-appearance: none;
    background: none;
    filter:alpha(opacity:0);
    opacity:0;
}

.data_box_small .selector_small:hover {
	border: #53c9fc 1px solid;
}

.data_box_small .selector_small {
	border: #b9b9b9 1px solid;
    overflow: hidden;
    width: 80px;
    background: url("../images/arrow.png") no-repeat top right;
    margin: 5px 16px 0 0;
    float:right;
}
*/

.data_box_small  input.small {
	width: 120px;
	height: 26px;
	border: #b9b9b9 1px solid;
	background: url("../images/input_bg.png") repeat-x top left;
	margin: 5px 0 5px 0;
}


label.small {
	min-width: 60px;
	height: 23px;
	padding: 3px 0 0 12px;
	margin: 5px 0 5px 0;
}





/* Data box medium */


.data_box_medium {
	width: 618px;
	min-height: 330px;
	float:left;
	background: white;
	border: #d2d3d3 1px solid;
	padding: 10px 0 10px 0;
	margin: 8px;
	text-align: left;
}

.data_box_medium .header {
	width: 550px;
	height: 30px;
	float:left;
	font: 16px Gleego, Arial, sans-serif;
	background: url(../images/pinkplus.png) no-repeat center left;
	padding: 7px 0 0 40px;
}

/*

.data_box_medium select.medium {
	border: 0 none;
    color: #000;
	font: , Arial, sans-serif;
    padding: 2px 0 2px 0;
    width: 330px;
    height:26px;
    -webkit-appearance: none;
    background: none;
    filter:alpha(opacity:0);
    opacity:0;
}

.data_box_medium .selector {
	border: #b9b9b9 1px solid;
    overflow: hidden;
    width: 330px;
    background: url("../images/arrow.png") no-repeat top right;
    margin: 5px 16px 5px 0;
    float:right;
    height:26px;
}

.data_box_medium .selector_medium:hover {
	border: #53c9fc 1px solid;
}
*/

label.medium {
	width: 250px;
	height: 26px;
	float:left;
	margin: 5px 0 5px 0;
	padding: 0 0 0 12px;
}


label.medium_line {
	width: 250px;
	height: auto;
	float:left;
	margin: 5px 0 5px 0;
	padding: 0 0 0 12px;
}


.data_box_medium input.medium {
	width: 320px;
	height: 26px;
	border: #b9b9b9 1px solid;
	background: url("../images/input_bg.png") repeat-x top left;
	margin: 5px 0 5px 8px;
	padding: 0 0 0 10px;
	float:left;
}

p.additional_txt {
	font: italic 12px Arial, sans-serif;
	color:black;
	padding: 5px 0 0 0;
}


.additional_line {
	float:left;
	padding: 0 0 10px 0;
}


.form_set {
	width: auto;
	height: auto;
	float:left;
	border-bottom: #b9b9b9 1px solid;
	padding: 10px 0 20px 0;
}

.formset_name {
	font: bold 14px Arial, sans-serif;
	width: 600px;
	height: auto;
	float:left;
	padding: 15px 0 25px 12px;
}





/* radios */

.check_line {
	width: 500px;
	height: 30px;
	float:left;
	padding: 0 0 0 12px;
}

.check_line p {
	width: 100px;
	height: 30px;
	float:left;
	font: bold 14px Arial, sans-serif;
	color:black;
	padding: 4px 0 0 0;
}

.check_line input.radio {
	width: 40px;
	height: auto;
}





/* more content  */


.more_content_btn {
	width: 250px;
	height: 14px;
	float:left;
	background: url(../images/more_content_btn_bg.png) no-repeat top left;
	padding: 2px 0 0 25px;
	font: bold 14px Arial, sans-serif;
	display:block;
	cursor:pointer;
	margin: 10px 0 0 12px;
}

.more_content_btn:hover {
	color:#29a9e0;
}


.lang{
	min-height: 340px;
}

.more_content {
	width: 100px;
	height: 200px;
	float:left;
	background:red;
}




label .full_line {
	width: auto;
	height: auto;
	float:left;
}



.label_pos {
	width: 300px;
	height: auto;
	float:left;
}

.data_box_small textarea{
	width: 270px;
	height: 100px;
	float:left;
	border: #b9b9b9 1px solid;
	margin: 0 0 0 14px;
	background: url("../images/input_bg.png") repeat-x top left;
}

p .more_txt {
	font: bold 12px Arial, sans-serif;
}

.input_line {
	width: 120px;
	height: auto;
	float:left;
}



/* dsa - jquery view */

.dbsa1, .dbsa2, .dbsa3, .dbsa4, .dbsa5, .dbsa6, .dbsa7, .dbsa8, .dbsa9, .dbsa10, .dbsa11, .dbsa12, .dbsa13, .dbsa14, .dbsa15, .dbsa16, .dbsa17, .dbsa18, .dbsa19, .dbsa20 {
	position:absolute;
	z-index: 1000;
	color:black;
	padding: 4px 0 0 10px;
	font: 14px Arial, sans-serif;
}

.form_small{
	width:40px;
	height: 18px;
	overflow:hidden;
}

/* save btn */

.save_line {
	width: 960px;
	height: auto;
	padding: 30px 0 0 0;
	text-align: center;
	float:left;
	background: url(../images/dotted_line.png) repeat-x top left;
	margin: 10px 0 0 0;
}


.save_end_line {
	width: 600px;
	height: auto;
	padding: 30px 0 0 0;
	text-align: center;
	float:left;
	border-top: #b9b9b9 1px solid;
	margin: 10px 0 0 0;
}

.save_btn_end {
	width: 170px;
	height: 46px;
	float:left;
	background: url(../images/save_btn.png) no-repeat top left;
	color:white;
	text-shadow: black 1px 1px;
	font: 15px Arial, sans-serif;
	padding: 14px 0 0 0;
	text-align: center;
	cursor:pointer;
	margin:0 0 0 220px;
	border: none;
}



.save_btn {
	width: 170px;
	height: 46px;
	float:left;
	background: url(../images/save_btn.png) no-repeat top left;
	color:white;
	text-shadow: black 1px 1px;
	font: 15px Arial, sans-serif;
	padding: 14px 0 0 0;
	text-align: center;
	cursor:pointer;
	margin:0 0 0 400px;
	border: none;
}

.save_btn:hover, .save_btn_end:hover {
	background-position: 0 -46px;
}


.step_center_box {
	width: 618px;
	height: auto;
	text-align: center;
}


/* fileup and checks */



input.file_upload {
	width: 240px;
	height: 26px;
	border: #b9b9b9 1px solid;
	background: url("../images/input_bg.png") repeat-x top left;
	padding: 0 0 0 10px;
}


.upload_line {
	width: 616px;
	min-height: 40px;
	float:left;
}


.checkbox_line {
	width: 500px;
	height: 30px;
	float:left;
	padding: 10px 0 15px 12px;
}


input.check {
	width: auto;
	margin: 0 10px 0 0;
}

.privacy_box {
	width: 580px;
	height: auto;
	float:left;
	padding: 0 14px 0 14px;
}


.privacy_box .title {
	width: 500px;
	height: auto;
	float:left;
	padding: 10px 0 20px 0;
	font: bold 14px Arial, sans-serif;
}


.privacy_box .description {
	width: 580px;
	height: auto;
	float:left;
	font: 14px Arial, sans-serif;
	padding: 0 0 40px 0;
}


/* Text subpages */


.page_content .text_container{
	width: 880px;
	height:auto;
	padding: 40px 40px 0 40px;
}


.text_container h1 {
	font: 28px Gleego, Arial, sans-serif;
	padding: 10px 0 10px 0;
}

.text_container h2 {
	font: 18px Museo_Slab, Arial, sans-serif;
	padding: 10px 0 10px 0;
}

.text_container p {
	font: 14px/19px Arial, sans-serif;
	padding: 10px 0 10px 0;
}

.text_container ul {
	font: 14px Arial, sans-serif;
	padding: 10px 0 10px 0;
	margin: 0 0 0 15px;
}

.text_container ul li {
	font: 14px Arial, sans-serif;
	padding: 2px 0 2px 0;
}


/* cont boxes */


.cont_box_position {
	width: 415px;
	min-height: 250px;
	max-height: 390px;
	height: auto;
	float:left;
	border-bottom: #b9b9b9 1px solid;
	padding: 10px 0 10px 5px;
	overflow:hidden;
}


/* Job list box */

.jobs_item {
	width: 920px;
	height: auto;
	float:left;
	padding: 20px 0 20px 40px;
	border-bottom: #b9b9b9 1px solid;
}


.job_list_box {
	width: 860px;
	height: auto;
	float:left;
}


.right_button a {
	width: 40px;
	height: 40px;
	display:block;
	float:left;
	cursor: pointer;
	background: url(../images/jobs_list_box_arrow.png) no-repeat center center;
	margin-top: 90px;
}


.right_button a:hover {
	opacity: 0.7;
}

.job_list_box .header{
	width: 880px;
	height: auto;
	float:left;
	font: 13px Museo_Slab, Arial, sans-serif;
	color:#0679b5;
	padding: 0 0 5px 0;
}

.job_list_box .title{
	width: 860px;
	height: auto;
	float:left;
	font: 18px Arial, sans-serif;
	padding: 0 0 10px 0;
}

.job_list_box .title a{
	text-decoration: none;
	color:black;
}


.job_list_box .title a:hover{
	text-decoration: underline;
	color:black;
}




.job_list_box .list_box_left{
	width: 500px;
	height: auto;
	float:left;
}

.job_list_box .location_header, .job_list_box .segment_header, .job_list_box .management_level_header, .job_list_box .category_header{
	width: 200px;
	height: auto;
	float:left;
	font: 13px Museo_Slab, Arial, sans-serif;
	color:#0679b5;
	padding: 0 0 5px 0;
}

.job_list_box .location_attr, .job_list_box .segment_attr, .job_list_box .management_level_attr, .job_list_box .category_attr {
	width: 230px;
	height: auto;
	float:left;
	font: 14px Arial, sans-serif;
	padding: 0 0 5px 0;
}



.job_list_box .description_header{
	width: 800px;
	height: auto;
	float:left;
	font: 13px Museo_Slab, Arial, sans-serif;
	color:#0679b5;
	padding: 0 0 5px 0;
}

.job_list_box .description{
	width: 800px;
	height: auto;
	float:left;
	font: 14px/19px Arial, sans-serif;
	padding: 0 0 5px 0;
}

.job_list_box .deadline_header{
	width: 160px;
	height: auto;
	float:left;
	font: 13px Museo_Slab, Arial, sans-serif;
	color:#0679b5;
}

.job_list_box .deadline{
	width: 120px;
	height: auto;
	float:left;
	font: 14px Arial, sans-serif;
}



/* Pagination */
.pagination {
	width: 880px;
	height: 40px;
	float:left;
	text-align: center;
	padding: 20px 0 0 40px;
}




.prev {
	width: 100px;
	height: 17px;
	float:left;
	background: url(../images/previous.png) no-repeat center left;
	padding: 0 0 0 20px;
	text-align: left;
	display: block;
	cursor: pointer;
}

.next {
	width: 100px;
	height: 17px;
	float:right;
	background: url(../images/next.png) no-repeat center right;
	padding: 0 20px 0 0;
	text-align: right;
	display:block;
	cursor: pointer;
}

.prev:hover, .next:hover {
	color: #b9b9b9;
}

.page_nums {
	width: 600px;
	height: 20px;
	float:left;
}



/* error message */

span.error {
        width: auto;
        margin: 0 0 0 10px;
        padding: 2px  10px 2px 20px;
        font: italic 14px Arial, sans-serif;
        color:white;
        background: #ff5959 url(../images/error_arrow.png) no-repeat top left;
        background-position: 5px 4px;
        -moz-box-shadow:    1px 1px 2px 2px #ccc;
        -webkit-box-shadow: 1px 1px 2px 2px #ccc;
        box-shadow:         1px 1px 2px 2px #ccc;
}


/* alert error */

.alert-error {
        width: 100%;
        padding: 12px  0 12px 0;
        float:left;
        font: italic 15px Arial, sans-serif;
        color:white;
        background: #ff5959 url(../images/error_alert.png) no-repeat top left;
        background-position: 15px center;
        -moz-box-shadow:    1px 1px 2px 2px #ccc;
        -webkit-box-shadow: 1px 1px 2px 2px #ccc;
        box-shadow:         1px 1px 2px 2px #ccc;
        text-align: center;
}

/* remove field */

a.remove_fields {
    background: url("../images/remove_field_bg.png") no-repeat scroll 5px 4px transparent;
    border-bottom: 1px solid #CCCCCC;
    color: black;
    float: left;
    font: bold 13px Arial,sans-serif;
    height: auto;
    margin: 5px 0 5px 7px;
    padding: 4px 10px 10px 27px;
    text-decoration: none;
    width: 80%;
}

a.remove_fields:hover {
    color: #ff5959;
}



/* Mailchimp */


#mc_embed_signup input.button2 {
    display: block;
    margin: 0 0 10px;
    min-width: 90px;
    background: red;
    float:left;
    width: 100px;
    background: url("../images/send_btn_bg.png") no-repeat scroll left top transparent;

    height: 32px;
    text-shadow: 0 1px #000000;
    color:white;
    width: 100px;
    border:0;
    cursor: pointer;
}


#mc_embed_signup input.email2 {
    display: block;
    float: left;
    margin: 0 4% 10px 0;
    padding: 8px 0;
    text-indent: 5px;
    background: white;
    width: 510px;
    font: 14px Arial, sans-serif;
}


#mc_embed_signup label.inside {
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
    float: left;
    font: 16px Gleego,Arial,sans-serif;
    height: 50px;
    padding: 5px 0 0;
    width: 300px;
}

#mc_embed_signup{clear:left;}

#mc_embed_signup form input:focus{
	border: #53c9fc 1px solid;
	background: white url("../images/input_bg_focus.png") repeat-x top left;
	box-shadow: 0px 0px 3px #2dabe1;
	-moz-box-shadow: 0px 0px 3px #2dabe1;
	-webkit-box-shadow: 0px 0px 3px #2dabe1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=0, Color='#2dabe1')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color='#2dabe1');
}



/* Modal window */

.modal_content  input[type="submit"] {
	background: transparent url(../images/modal_btn.png)no-repeat top left;
	color:#fff;
	text-shadow: #000 0px 1px
	cursor:pointer;
	display:inline-block;
	padding:0 0 0 0;
	margin-top:10px;
	font:13px;
	width:110px;
	height:36px;
	border:none;
    cursor:pointer;
    float: left;
}

.modal_content  input[type="submit"]:hover {
	background-position: 0px -36px;
}

.modal_spacer{
	width:230px;
	height:10px;
	float:left;
}

.modal_content a{
	text-decoration: none;
	color:#0087C1;
	float:left;
	width: 170px;
	height:30px;
	font: 12px Arial, sans-serif;
	text-align: center;
	margin: 20px 0 0 0;
}

img {
	border:none;
	margin: 0 15px 10px 0;
}

.g-recaptcha div{
	margin: 0px !important;
}