/* Mask for background, by default is not display */
#mask {
	display: none;
	background: #000; 
	position: fixed; left: 0; top: 0; 
	z-index: 10;
	width: 100%; height: 100%;
	opacity: 0.8;
	z-index: 999;
}

#privacy_box {
	width:682px;
	height:580px;
	display:none;
	background: #fff;
	float: left;
	font-size: 1.2em;
	padding: 30px 0 0 0;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
	background: url(../images/modal_privacy_bg.png) no-repeat top left;
}

#privacy_box h1 {
	font: 20px Gleego, Arial, sans-serif;
	padding: 10px 0 0 0;
	text-align: left;
	width: 620px;
}

#privacy_box p {
	width: 620px;
	height:auto;
	padding: 10px 0 0 0;
}


#privacy_box a.close2 {
	float: right;
	width:30px;
	height: 30px;
	margin: 10px 38px 0 0;
	background: url(../images/modal_close.png) no-repeat top left;
}


/* You can customize to your needs  */
.login-popup{
	width:400px;
	height:325px;
	display:none;
	background: url(../images/modal_window_bg.png) no-repeat top left;
	padding: 10px;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
}

img.btn_close { Position the close button
	float: right; 
	margin: -28px -28px 0 0;
}

fieldset { 
	border:none; 
}

form.signin .textbox label { 
	display:block; 
	padding-bottom:7px; 
}

form.signin .textbox span { 
	display:block;
	color:#000; 
}

form.signin p, form.signin span { 
	color:#000;	
	font-size:13px; 
	line-height:18px;
	padding: 4px 0 4px 0;
} 

form.signin .textbox input { 
	background:#fff;
	border: #b9b9b9 1px solid;
	color:#000;
	font:13px Arial, Helvetica, sans-serif;
	padding:6px 6px 4px;
	width:240px;
}


form.signin input::-webkit-input-placeholder { color:#bbb; text-shadow:0 0 2px #000;  }

.button { 
	background: url(/images/modal_btn.png)no-repeat top left;	
	color:#fff;
	text-shadow: #000 0px 1px
	cursor:pointer;
	display:inline-block;
	padding:0 0 0 0;
	margin-top:10px;
	font:13px; 
	width:110px;
	height:36px
}

.button:hover { 
	background-position: 0 -36px; 
}

a.forgot {
	width: 200px;
	height: 0px;
	float:left;
	padding: 10px 0 0 0;
	text-decoration: none;
	color:#0679B5;
}

a.forgot:hover{
	background-position: 0px 36px;
}



.login-popup .box_head {
	width: 180px;
	height: 40px;
	float:left;
	background: url(../images/pinkplus.png) no-repeat top left;
	background-position: 20px 18px;
	padding: 25px 0 0 60px;
	font: 16px Museo_Slab, Arial, sans-serif;
	color:#000;
}

.login-popup .box_close a {
	width: auto;
	height: 40px;
	float:left;
	padding: 25px 0 0 0;
	font: 16px Museo_Slab, Arial, sans-serif;
	text-decoration: none;
	color: #0679B5;
}

.login-popup .box_close a:hover {
	text-decoration: underline;
}

.modal_content {
	width: 300px;
	height: 200px;
	float:left;
	padding: 20px 0 0 60px;
}



