.lang, .nested_fields, .remove_link { clear: both; }

select { width: 240px; height:26px; padding: 2px 0 2px 0; font: 14px MyriadPro, Arial, sans-serif;}
select.small { width: 80px; }

.data_box_small select {
  font: 14px MyriadPro, Arial, sans-serif;
  padding: 2px 0 2px 0;
  width: 180px;
  height:26px;
}

.data_box_small .selector {
  overflow: hidden;
  width: 180px;
  float: left;
}

/* selector small */

.data_box_small select.small {
  color: #000;
  font: 14px MyriadPro, Arial, sans-serif;
  padding: 2px 0 2px 0;
  width: 80px;
  height:26px;
}


.data_box_small .selector_small {
    overflow: hidden;
    width: 80px;
    margin: 5px 16px 0 0;
    float:right;
}

.data_box_medium select.medium {
  font: 14px MyriadPro, Arial, sans-serif;
  padding: 2px 0 2px 0;
  width: 330px;
  height:26px;
}

.data_box_medium .selector {
  overflow: hidden;
  width: 330px;
  margin: 5px 16px 5px 0;
  float:right;
  height:26px;
}

.clear { clear: both; }