<div class="nested-fields">
    <label class="medium">Végzettség típusa*</label>
    <div class="selector">
    <div class="dbsa5"></div>
      <%#= f.association :attainment, :label => I18n.t("attainment") %>
      <%= f.select :attainment_id, Attainment.all.collect { |a| [ a.name, a.id ] }, {:include_blank => true}, { :class => 'medium' } %>
    </div>

          
    <label class="medium">Oktatást nyújtó intézmény neve: *</label>
    <div class="selector">
      <div class="dbsa6"></div>
      <%#= f.association :educational_institution, :label => I18n.t("educational_institution") %>
      <%= f.select :educational_institution_id, EducationalInstitution.all.collect { |a| [ a.name, a.id ] }, {:include_blank => true}, { :class => 'medium' } %>
    </div>

    <label class="medium">Egyéb oktatási intézmény:</label>
    <%= f.input_field :other_institution, :class => :medium %>

    <label class="medium">Végzettség, képesítés megnevezése: *</label>
    <%= f.input_field :name, :class => :medium %>

    <label class="medium">Kezdet éve:</label>
    <div class="selector">
    <%= f.input_field :from_year, :as => :select, :collection => 1960..Time.now.year %>
    </div>

    <label class="medium">Befejezés éve:</label>
    <div class="selector">
    <%= f.input_field :to_year, :as => :select, :collection => 1960..Time.now.year %>
    </div>
    
    <%= link_to_remove_association I18n.t("remove"), f %>
</div>