<div class="nested-fields">
  <label class="medium">Foglalkozás, beosztás típusa*</label>
  <div class="selector">
    <div class="dbsa11"></div>
     <%= f.select :management_level_id, ManagementLevel.all.collect { |a| [ a.name, a.id ] }, 
      {:include_blank => true}, { :class => 'medium' } %>
  </div>
  
  <label class="medium">Foglalkozási terület/ Állás kategória:*</label>
  <div class="selector category_wrapper">
    <div class="dbsa12"></div>
     <%= f.select :job_category_id, JobCategory.all.collect { |a| [ a.name, a.id ] }, 
      {:include_blank => true}, { :class => 'medium category_select' } %>
  </div>

  <div class="subcategory_wrapper">
  <label class="medium">Alkategória:*</label>
  <div class="selector">
    <div class="dbsa12"></div>
    <%= f.input_field :job_subcategory_id, 
      :collection => JobCategory.find(:all),
      :as => :grouped_select,
      :group_method => :job_subcategories,
      :label => I18n.t("job_subcategory"),
      :class => 'subcategory_select' 
    %>
  </div>
</div>

  <label class="medium">Foglalkozás / beosztás, pozíció*</label>
  <div class="selector">
    <div class="dbsa13"></div>
     <%= f.select :position_id, Position.all.collect { |a| [ a.name, a.id ] }, 
      {:include_blank => true}, { :class => 'medium' } %>
    </div>
  
  
  <div class="additional_line">   
      <label class="medium_line">Egyéb:
        <p class="additional_txt">Próbálja megadni a megfelelőt, amennyiben nem talál egyezőt, úgy az alábbi mezőbe írja be</p>
      </label>
      <%= f.input_field :other_position, :class => :medium %>
  </div>
  
            
  <label class="medium">Munkáltató neve*</label>
  <%= f.input_field :employer, :class => :medium %>
  
  <label class="medium">Tevékenység típusa, ágazat*</label>
  <div class="selector">
    <div class="dbsa11"></div>
     <%= f.select :branch_id, Branch.all.collect { |a| [ a.name, a.id ] }, 
      {:include_blank => true}, { :class => 'medium' } %>
  </div>

  <label class="medium">Kezdet éve:</label>
  <div class="selector">
  <%= f.input_field :from_year, :as => :select, :collection => 1960..Time.now.year %>
  </div>

  <label class="medium">Befejezés éve:</label>
  <div class="selector">
  <%= f.input_field :to_year, :as => :select, :collection => 1960..Time.now.year %>
  </div>

  <div class="remove_link"><%= link_to_remove_association I18n.t("remove"), f %></div>
</div>