<div class="nested-fields">
      <label class="small">Nyelv</label>
      <div class="selector_small">
        <div class="dbsa2 form_small"></div>
        <%= f.select :level, LanguageSkill::LEVELS, {:include_blank => true}, { :class => 'small' } %>
      </div>
      
      <div class="selector_small">
        <div class="dbsa2 form_small"></div>
          <%= f.select :language_code, banyai_language_options_for_select(f.object.language_code), {:include_blank => true}, { :class => 'small' } %>
      </div>
      
    <div class="remove_link"><%= link_to_remove_association I18n.t("remove"), f %></div>
</div>