<% # -*- coding: UTF-8 -*- %>
Kedves <%= @applicant.name %>!

Üdvözöljük honlapunkon! Bízunk benne, hogy cégünk által nyújtott szolgáltatások elnyerik tetszését, és hamarosan személyesen is találkozhatunk Önnel!

Regisztrációja, a banyaiconsulting.hu weboldaon adatbázisunkba történő jelentkezése sikeres volt. 
Kellemes böngészést kívánunk álláshirdetéseink között!

Üdvözlettel:

Bányai & Partners Consulting Kft. csapata
1051 Budapest, Arany János utca 34. 2.em. 203.

E-mail: info@banyaiconsulting.hu
E-mail: palyazat@banyaiconsulting.hu
Telefon: +36 1 950 60 81
