<% # -*- coding: UTF-8 -*- %>
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Kedves <%= @applicant.name %></p>
    <p>Üdvözöljük honlapunkon! Bízunk benne, hogy cégünk által nyújtott szolgáltatások elnyerik tetszését, és hamarosan személyesen is találkozhatunk Önnel!</p>
    <p>Regisztrációja, a banyaiconsulting.hu weboldaon adatbázisunkba történő jelentkezése sikeres volt. 
Kellemes böngészést kívánunk álláshirdetéseink között!</p>
    <p>Üdvözlettel:</p>
    <p>Bányai & Partners Consulting Kft. csapata<br />
      1051 Budapest, Arany János utca 34. 2.em. 203.<br />
    <br /><br />
      E-mail: info@banyaiconsulting.hu<br />
      E-mail: palyazat@banyaiconsulting.hu<br />
      Telefon: +36 1 950 60 81<br />
    </p>
  </body>
</html>