

    <div class="ind_box1">
      <div class="text_box">
        <div class="text_title">Why should I register?</div>
        <div class="lead">Bányai & Partners Consulting is supported by an extensive networking system and a high performing team with many decades of experience in the Hungarian and international labor markets. Our company is engaged in employment services and management consultancy. Our strengths are in the areas of executive search and career management.


        </div>
      </div>
      <div class="big_reg_btn"><a href="/applicants/sign_up">Registration</a></div>
    </div><!-- ind_box1 end -->

    <div class="ind_box2">
      <div class="text_box">
        <div class="text_title">If you are building a career or wish to find a different employer</div>
        <div class="lead">
We are the place for people wishing to further build their career at a different organization, and the place for economic organizations searching for future employees with the potential to become a committed member of their company.

        </div>
      </div>
    </div><!-- ind_box2 end -->

    </div><!-- content -->

    <div class="jobs_head">Current job offers</div>

  </div><!-- end container index -->

</div><!--end page-->

<div class="jobline">
  <div class="center_content">

    <% @jobs.each do |job| %>

    <div class="job_box">
      <div class="header"><p>pozíció</p></div>
      <div class="postheader"><%= link_to "", job %></div>
      <div class="job_container">
        <div class="job_title"><%= link_to job.name, job %></div>
        <div class="job_location">Munkavégzés helye</div>
        <div class="job_location_attribute"><%= job.city %>, <%= job.country_name %></div>
        <div class="job_segment">Üzleti szegmens</div>
        <div class="job_segment_attribute"><%= job.allas_kategoria %></div>
        <div class="job_description">Leírás</div>
        <div class="job_description_attribute"><%=
          truncate(strip_tags(job.goal), :length => 280, :separator => ' ').html_safe %></div>
      </div>
    </div><!-- job box -->
    <% end %>

  </div><!-- job line center content end -->
</div>

<div class="container_under">
  <div class="center_content">
  <div class="more_job"><a href="/allasajanlatok">Other available positions</a></div>
    <div class="ind_box3">
      <div class="text_box">
        <div class="text_title">Our goal is to create a stable and long-term connection by acting as a bridge between our clients</div>
        <div class="lead">Finding the best applicants and talents is a difficult task; however, retaining them is an even greater challenge. Bányai & Partners Consulting possesses the knowledge to meet even the hardest challenges under today’s globalized economic conditions. With our innovative solutions, we are your partners in the maximization of the profit producing capabilities of human resources and in the optimization of the human resource processes.
        </div>
      </div>
    </div>
    <div class="ind_box4">
      <div class="text_box">
        <div class="text_title">How do we stand out among the other players in the market?</div>
        <div class="lead">The cornerstones of our business philosophy are lifelong career management and service. In our role as a reliable partner we aim well above the mean. With our personal services we wish to lay sound foundations in the present for the future of our candidates who honor us with their trust.
        </div>
      </div>
      <div class="big_reg_btn"><a href="/applicants/sign_up">Registration</a></div>
    </div>
  </div>

  </div>
