

    <div class="ind_box1">
      <div class="text_box">
        <div class="text_title">Miért érdemes regisztrálni?</div>
        <div class="lead">A Bányai & Partners Consulting Kft. mögött széles körű kapcsolatrendszer, több évtizedes magyarországi-, és nemzetközi tapasztalatokkal rendelkező kiválóan teljesítő csapat áll. Munkaerő-közvetítéssel foglalkozó vezetési tanácsadó társaság vagyunk. Erősségünk a fejvadászat és a karriermenedzsment.


        </div>
      </div>
      <div class="big_reg_btn"><a href="/applicants/sign_up">Regisztráció</a></div>
    </div><!-- ind_box1 end -->

    <div class="ind_box2">
      <div class="text_box">
        <div class="text_title">Ha karriert épít vagy máshol szeretné folytatni munkáját</div>
        <div class="lead">
Egy hely azok számára akik karrierjüket másik szervezetnél szeretnék tovább építeni, és egy hely azon gazdasági szervezetek számára akik szeretnék megtalálni azokat a leendő kollégáikat akikben minden esély meg van arra, hogy szervezetük elkötelezett tagjaivá válhassanak.

        </div>
      </div>
    </div><!-- ind_box2 end -->

    </div><!-- content -->

    <div class="jobs_head">Aktuális állásajánlataink</div>

  </div><!-- end container index -->

</div><!--end page-->

<div class="jobline">
  <div class="center_content">

    <% @jobs.each do |job| %>

    <div class="job_box">
      <div class="header"><p>pozíció</p></div>
      <div class="postheader"><%= link_to "", job %></div>
      <div class="job_container">
        <div class="job_title"><%= link_to job.name, job %></div>
        <div class="job_location">Munkavégzés helye</div>
        <div class="job_location_attribute"><%= job.city %>, <%= job.country_name %></div>
        <div class="job_segment">Üzleti szegmens</div>
        <div class="job_segment_attribute"><%= job.allas_kategoria %></div>
        <div class="job_description">Leírás</div>
        <div class="job_description_attribute"><%=
          truncate(strip_tags(job.goal), :length => 280, :separator => ' ').html_safe %></div>
      </div>
    </div><!-- job box -->
    <% end %>

  </div><!-- job line center content end -->
</div>

<div class="container_under">
  <div class="center_content">
  <div class="more_job"><a href="/allasajanlatok">További elérhető pozíciók</a></div>
    <div class="ind_box3">
      <div class="text_box">
        <div class="text_title">Célunk szilárd és hosszú távú kapcsolatot teremtve hidat képezni a két fél között</div>
        <div class="lead">Megtalálni a legjobb jelölteket és a tehetségeket nem könnyű feladat. Megtartani viszont őket még nagyobb kihívás. A Bányai & Partners Consulting birtokában van annak a tudásnak amellyel a legnehezebb kihívásoknak is megfelel globálizálódott gazdasági viszonyaink között. Innovatív megoldásainkkal partnerek vagyunk az emberi erőforrás profit termelő képességének maximalizálásában és a humán erőforrás folyamatok optimalizálásában.
        </div>
      </div>
    </div>
    <div class="ind_box4">
      <div class="text_box">
        <div class="text_title">Mi különböztet meg minket másoktól a piacon?</div>
        <div class="lead">Üzleti filozófiánk az élethosszig tartó karriermenedzsment és gondoskodás. Személyre szabott támogatásunkkal a jelenben kívánjuk igazán megalapozni azon pályázóink jövőjét akik megtisztelnek minket bizalmukkal.
        </div>
      </div>
      <div class="big_reg_btn"><a href="/applicants/sign_up">Regisztráció</a></div>
    </div>
  </div>

  </div>
