

<div class="forgoted_pass">

<div class="box_head">
	Belépés
</div>
<div class="error_in_pass">Hibásan adta meg adatait! Kérjük adja meg újra!</div>
<div class="form_content">
<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  
    <%= f.input :email, :required => false, :autofocus => true, :input_html =>{:class => "login_inside"} %>
    <%= f.input :password, :required => false, :input_html =>{:class => "login_inside"} %>
    <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
    <div class="this_spacer"></div>
    <%= f.button :submit, "Belépés" %>
 
<% end %>
</div>

<div class="applicant_links">
<%= render "applicants/shared/links" %>
</div>


</div>