<div class="forgoted_pass">

<div class="box_head">
	Jelszóváltoztatás
</div>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :reset_password_token, :as => :hidden %>
  <%= f.full_error :reset_password_token %>

  <div class="form-inputs">
    <%= f.input :password, :label => "Új jelszó", :required => true %>
    <%= f.input :password_confirmation, :label => "Új jelszó megerősítése", :required => true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Mentés" %>
  </div>
<% end %>

</div>