<div class="forgoted_pass">

<div class="box_head">
	Elfelejtette a jelszavát?
</div>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, :required => true, :input_html =>{:class => "login_inside"} %>
  </div>



  <div class="form-actions">
    <%= f.button :submit, "Beküldés" %>
  </div>
<% end %>

<div class="stat_txt">Kérjük adja meg a regisztrációnál használt e-mail címét!</div>

</div>


