<%= simple_form_for(resource, :as => resource_name, :url => profile_update_path, :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>

  <fieldset>
    <legend>Regisztrációs alapadatok</legend>
    <%= f.input :last_name, :required => true, :autofocus => true %>
    <%= f.input :first_name, :required => true %>


    <%= f.input :email, :required => true  %>

    <% if applicant_signed_in? %>
      <%#= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
      <%#= f.input :password_confirmation, :required => false %>
      <%#= f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true %>
    <% else %>
      <%= f.input :password, :required => true %>
      <%= f.input :password_confirmation, :required => true %>
    <% end %>

    <%= f.input :phone %>
  </fieldset>

  <fieldset>
  <legend>Cím, tartózkodás</legend>
    <%= f.input :country, :collection => I18nData.countries("HU"),
      :label_method => :last, :value_method => :first %>
    <%= f.input :postal_code %>
    <%= f.input :city %>
  </fieldset>


  <fieldset>
  <legend>Számítógépes ismeretek</legend>
    <%= f.input :computer_skills %>
  </fieldset>

  <fieldset>
  <legend>Nyelvismeret</legend>
    <%= f.simple_fields_for :language_skills do |language_skill| %>
      <%= render 'applicants/registrations/language_skill_fields', :f => language_skill %>
    <% end %>
    <%= link_to_add_association "add language skill", f, :language_skills, 
      :partial => 'applicants/registrations/language_skill_fields' %>
  </fieldset>


  <fieldset>
  <legend>Végzettségre vonatkozó adatok</legend>
    <%= f.simple_fields_for :educations do |education| %>
      <%= render 'applicants/registrations/education_fields', :f => education %>
    <% end %>
    <%= link_to_add_association "add education", f, :educations, 
      :partial => 'applicants/registrations/education_fields' %>
  </fieldset>

  <fieldset>
  <legend>Szakmai tapasztalatok</legend>
    <%= f.simple_fields_for :experiences do |experience| %>
      <%= render 'applicants/registrations/experience_fields', :f => experience %>
    <% end %>
    <%= link_to_add_association "add experience", f, :experiences, 
      :partial => 'applicants/registrations/experience_fields'  %>
  </fieldset>

  <fieldset>
  <legend>Önéletrajz feltöltés</legend>
    <%= f.input :cv_hu %>
    <%= f.input :cv_en %>
    <%= f.input :cv_etc %>
  </fieldset>

  <fieldset>
    <%= f.input :accept_terms %>
    <%= f.input :newsletter %>
  </fieldset>


  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

