<div class="step_center_box">
  
<div class="data_box_medium">
  <div class="header">Önéletrajz feltöltése</div>
  
  <div class="form_set"><!-- form set -->
    
    <div class="formset_name">.pdf vagy .doc formátumú fájlok feltöltése. Maximum mérethatár 5MB.</div>

  <%= f.error_notification %>

    <div class="upload_line">
      <label class="medium">CV - magyar:</label>
      <%= f.input_field :cv_hu, :class => "file_upload" %>
      <%  if current_applicant.andand.cv_hu? %>
	      <div class="optional_uploaded_file">
	      	<div class="txt">feltöltött fájl: </div>
	      		<div class="links">
		      		<%= link_to(current_applicant.cv_hu_url)%>
		      	</div>
	      </div>
	  <% end %>
    </div>

    <div class="upload_line">
      <label class="medium">CV - angol:</label>
      <%= f.input_field :cv_en, :class => "file_upload" %>
      <%  if current_applicant.andand.cv_hu? %>
	      <div class="optional_uploaded_file">
	      	<div class="txt">feltöltött fájl: </div>
	      		<div class="links">
     				<%= link_to(current_applicant.cv_en_url) if current_applicant.andand.cv_en? %>
     			</div>
     		</div>
	      </div>
	  <% end %>

    </div>


    <div class="upload_line">
      <label class="medium">Motivációs levél, egyéb:</label>
      <%= f.input_field :cv_etc, :class => "file_upload" %>
      <%  if current_applicant.andand.cv_hu? %>
	      <div class="optional_uploaded_file">
	      	<div class="txt">feltöltött fájl: </div>
	      		<div class="links">
					<%= link_to(current_applicant.cv_etc_url) if current_applicant.andand.cv_etc? %>
				</div>
	      </div>
	    <% end %>
    </div>

    
             
    </div><!-- form set 1 end -->
    
    <div class="checkbox_line">
    <%= f.input :accept_terms, :input_html => { :class => "check" } %>
    <%= f.input :newsletter, :input_html => { :class => "check" } %>
    </div>

  <div class="save_end_line">
    <%= f.button :submit, "Befejezés", :class => 'save_btn_end' %>
  </div>
