  <%= f.error_notification %>
  <%= flash[:recaptcha_error] %>
  
  <div class="data_box_small">
    <div class="header">Regisztrációs alapadatok</div>
    <%= f.input :last_name, :required => true, :autofocus => true %>
    <%= f.input :first_name, :required => true %>


    <%= f.input :email, :required => true  %>

    <% if applicant_signed_in? %>
      <%#= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
      <%#= f.input :password_confirmation, :required => false %>
      <%#= f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true %>
    <% else %>
      <%= f.input :password, :required => true %>
      <p>(minimum 6 karakter)</p>
      <%= f.input :password_confirmation, :required => true %>
    <% end %>

    <%= f.input :phone %>
  </div>

  <div class="data_box_small">
  <div class="header">Cím, tartózkodás</div>
    <div class="description">
    A megadott adatokat csak az Önnek legmegfelelőbb állás megtalálása érdekében, és a kapcsolat felvétel érdekében használjuk fel. Kérjük olvassa el Adatvédelmi Nyilatkozatunkat.
    </div>
    <%#= f.input :country, :collection => I18nData.countries("HU"),
      :label_method => :last, :value_method => :first %>

    <%= f.input :postal_code %>

      
    <label>Ország</label>
    <div class="selector">
      
      <%= f.select :country, banyai_country_options_for_select %>
    </div>
    <div class="clear">
      <label>Megye</label>
      <div class="selector">
        
        <%= f.select :province_id, Province.select_options, :include_blank => true %>
      </div>
    </div>
    <div class="label_pos">
    <%= f.input :city %>
    </div>
  </div>


  <div class="data_box_small">
  <div class="header">Számítógépes ismeretek</div>
    <div class="description_szg">
    Kérjük írja le, milyen programokat milyen szinten ismer, pl. Excel kezelése, CAD program, egyéb szoftverek használata, felhasználói készségek, speciális ismeretek.
    </div>
    <%= f.input :computer_skills %>
  </div>

  <div class="data_box_small lang">
  <div class="header">Nyelvismeret</div>
     <div class="description_lang">
    Válasszon nyelvet, adja meg a tudás szintet a <a href="http://europass.cedefop.europa.eu/hu/resources/european-language-levels-cefr"> KER</a> alapján. 
    </div>
    <%= f.simple_fields_for :language_skills do |language_skill| %>
      <%= render 'applicants/registrations/language_skill_fields', :f => language_skill %>
    <% end %>
    <div class="links"><%= link_to_add_association I18n.t("add_language_skill"), f, :language_skills, 
      :partial => 'applicants/registrations/language_skill_fields', :class => 'more_content_btn' %></div>
  </div>


  <div class="data_box_medium">
  <div class="header">Végzettségre vonatkozó adatok</div>
    <%= f.simple_fields_for :educations do |education| %>
      <%= render 'applicants/registrations/education_fields', :f => education %>
    <% end %>
    <div class="links"><%= link_to_add_association  I18n.t("add_education"), f, :educations, 
      :partial => 'applicants/registrations/education_fields', :class => 'more_content_btn'  %></div>
  </div>
  
  <div class="checkbox_line">
  <%= f.input :accept_terms, :input_html => { :class => "check" } %>
  </div>

  <div class="upload_line">
      <%= recaptcha_tags %>
    </div>

  <div class="save_line">
    <%= f.button :submit, "Mentés és tovább", :class => 'save_btn' %>
  </div>
  
  