<%= f.error_notification %>

<div class="step_center_box">
  <div class="data_box_medium">
  <div class="header">Szakmai tapasztalatok</div>
    <%= f.simple_fields_for :experiences do |experience| %>
      <%= render 'applicants/registrations/experience_fields', :f => experience %>
    <% end %>
    <div class="links"><%= link_to_add_association  I18n.t("add_experience"), f, :experiences, 
      :partial => 'applicants/registrations/experience_fields', :class => 'more_content_btn'  %></div>
  </div>
</div>


<div class="save_line">
    <%= f.button :submit, "Mentés és tovább", :class => 'save_btn' %>
</div>