<div class="page_reg_content">

<div class="message">
  <div class="message_tittle">Szeretné megtalálni a megfelelő munkahelyet?</div>
  <div class="description">
  Egy hely azok számára akik karrierjüket másik szervezetnél szeretnék tovább építeni, és egy hely azon gazdasági szervezetek számára akik szeretnék megtalálni azokat a leendő kollégáikat akikben minden esély meg van arra, hogy szervezetük elkötelezett tagjaivá válhassanak.
  </div>
</div><!-- message end -->

<div class="tab_bar">
  <div class="step_current">
    <div class="title">1. Lépés</div>
    <div class="description">Személyes információ, végzettség, képesítés </div>
  </div>
  <div class="step">
    <div class="title">2. Lépés</div>
    <div class="description">Szakmai tapasztalatok </div>
  </div>
  <div class="step">
    <div class="title">3. Lépés</div>
    <div class="description">Önéletrajz feltöltése </div>
  </div>
</div><!-- Tab bar end -->

<%# FIXME= render 'applicants/registrations/form' %>
<%= simple_form_for(resource, :as => resource_name, :url => profile_update_path, :html => { :method => :put }) do |f| %>
  <%= render :partial => 'step1', :locals => { :f => f } %>
<% end %>

</div>
