<div class="page_reg_content">



<div class="message">
  <div class="message_tittle">Szeretné megtalálni a megfelelő munkahelyet?</div>
  <div class="description">
  Egy hely azok számára akik karrierjüket másik szervezetnél szeretnék tovább építeni, és egy hely azon gazdasági szervezetek számára akik szeretnék megtalálni azokat a leendő kollégáikat akikben minden esély meg van arra, hogy szervezetük elkötelezett tagjaivá válhassanak.
  </div>
</div><!-- message end -->




<div class="tab_bar">
  <div class="step">
    <div class="title"><a href="/profile/edit">1. Lépés</a></div>
    <div class="description">Személyes információ, végzettség, képesítés</div>
  </div>
  <div class="step">
    <div class="title"><a href="/profile/step2">2. Lépés</a></div>
    <div class="description">Szakmai tapasztalatok</div>
  </div>
  <div class="step_current">
    <div class="title">3. Lépés</div>
    <div class="description">Önéletrajz feltöltése</div>
  </div>
      </div><!-- Tab bar end -->

<%= simple_form_for(current_applicant, :as => :applicant, :url => profile_step3_update_path, :html => { :method => :put }) do |f| %>
  <%= render :partial => 'step3', :locals => { :f => f } %>
<% end %>

<div class="privacy_box">
          <div class="title">Adatvédelmi Nyilatkozat</div>
        
          <div class="description">
          Ön a regisztrációjával egyidejűleg hozzájárulását adja ahhoz, hogy személyes adatai és önéletrajza a Bányai & Partners Consulting Kft. rendszerében rögzítésre kerüljön. Ugyancsak hozzájárulását adja ahhoz, hogy a rögzítésre került információkat a személyes adatok védelméről szóló 1992. évi LXIII. törvény szerint kezeljük, felhasználjuk, tároljuk és konkrét állásajánlat esetén ügyfeleink részére továbbítsuk vagy hozzáférhetővé tegyük.
					<br /><br />Tájékoztatjuk, hogy személyes adatai kezelésére kizárólag álláskeresés céljából kerül sor. A rendszerben tárolt adatai csak ügyintéző munkatársaink és - amennyiben profilja továbbításra kerül vagy hozzáférhetővé válik - a potenciális munkáltatók részéről eljáró munkatársak számára lesznek hozzáférhetőek. Az adatai kezeléséhez való hozzájáruló nyilatkozatot adatbázisunkból történő kijelentkezéssel bármikor visszavonhatja, ez esetben minden tárolt adatot maradéktalanul eltávolítunk adatbázisunkból.
					<br /><br />Az adatvédelmi törvény rendelkezései alapján a hibásan rögzített vagy időközben módosult adatai helyesbítését kérheti. Felvilágosítást kérhet adatkezelésünkkel kapcsolatban, illetve kérheti adatai törlését. Az adatkezeléssel kapcsolatos jogorvoslati lehetőségekről az adatvédelmi törvény rendelkezik. Az adatbázisba történő regisztrációval egyidejűleg hozzájárulását adja ahhoz, hogy a Bányai & Partners Consulting Kft. állásajánlatokon kívül saját hirdetéseivel, ajánlataival is megkeresse. Amennyiben a jövőben kizárólag állásajánlatokkal kapcsolatos információkat szeretne kapni tőlünk, regisztráció után a profilja beállításainál az ilyen típusú levelezését letilthatja.          
          </div>
        </div>
          
      </div><!-- data box medium -->
        
      </div><!-- step center box -->
      
      
      
      

      
                            
      </div><!-- page content end -->