<div class="page_reg_content">

<div class="message">
  <div class="message_tittle">Szeretné megtalálni a megfelelő munkahelyet?</div>
  <div class="description">
  Egy hely azok számára akik karrierjüket másik szervezetnél szeretnék tovább építeni, és egy hely azon gazdasági szervezetek számára akik szeretnék megtalálni azokat a leendő kollégáikat akikben minden esély meg van arra, hogy szervezetük elkötelezett tagjaivá válhassanak.
  </div>
</div><!-- message end -->

<div class="tab_bar">
  <div class="step">
    <div class="title"><a href="/profile/edit">1. Lépés</a></div>
    <div class="description">Személyes információ, végzettség, képesítés</div>
  </div>
  <div class="step_current">
    <div class="title">2. Lépés</div>
    <div class="description">Szakmai tapasztalatok</div>
  </div>
  <div class="step">
    <div class="title">3. Lépés</div>
    <div class="description">Önéletrajz feltöltése</div>
  </div>
</div><!-- Tab bar end -->

<%= simple_form_for(current_applicant, :as => :applicant, :url => profile_step2_update_path, :html => { :method => :put }) do |f| %>
  <%= render :partial => 'step2', :locals => { :f => f } %>
<% end %>

</div>