<!DOCTYPE html>
<html>
<head>
  <title>Banyai5</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash[:notice] %>
   <p class="notice"><%= flash[:notice] %></p>
<% end %>
<% if flash[:message] %>
  <p class="message"><%= flash[:message] %></p>
<% end %>
<% if flash[:alert] %>
  <p class="alert"><%= flash[:alert] %></p>
<% end %>
<% if flash[:error] %>
  <p class="error"><%= flash[:error] %></p>
<% end %>

<%= yield %>

</body>
</html>
